In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("air.csv")

In [4]:
data.tail()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
5263,05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
5264,05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
5265,06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
5266,06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
5267,06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...

In [6]:
data.columns

Index(['Date', 'Time', 'Location', 'Operator', 'Flight #', 'Route', 'Type',
       'Registration', 'cn/In', 'Aboard', 'Fatalities', 'Ground', 'Summary'],
      dtype='object')

In [9]:
data.Type.value_counts()[:10]

Douglas DC-3                                334
de Havilland Canada DHC-6 Twin Otter 300     81
Douglas C-47A                                74
Douglas C-47                                 62
Douglas DC-4                                 40
Yakovlev YAK-40                              37
Antonov AN-26                                36
Junkers JU-52/3m                             32
Douglas C-47B                                29
De Havilland DH-4                            28
Name: Type, dtype: int64

In [10]:
data.Location.value_counts()[:10]

Moscow, Russia            15
Sao Paulo, Brazil         15
Rio de Janeiro, Brazil    14
Manila, Philippines       13
Bogota, Colombia          13
Anchorage, Alaska         13
Cairo, Egypt              12
New York, New York        12
Chicago, Illinois         11
AtlantiOcean               9
Name: Location, dtype: int64

In [12]:
data['Date'] = data.Date.map(lambda x : x.split('/')[-1])

In [13]:
data.Date.value_counts()[:10]

1972    104
1968     96
1989     95
1967     91
1973     89
1979     89
1991     88
1994     87
1970     87
1992     86
Name: Date, dtype: int64

In [16]:
data.groupby('Date')[['Fatalities']].sum().sort_values(by = 'Fatalities', ascending = False)

      Fatalities
Date
1972      2937.0
1985      2670.0
1973      2485.0
1996      2386.0
1974      2318.0
1989      2293.0
1968      2156.0
1977      2138.0
1992      2122.0
1976      2059.0
1970      2049.0
1962      2047.0
1988      2034.0
1979      2011.0
1971      1932.0
1994      1876.0
1991      1839.0
1980      1827.0
1969      1799.0
1967      1789.0
1982      1787.0
1987      1713.0
1997      1673.0
1975      1639.0
1965      1636.0
1983      1611.0
1995      1593.0
1993      1568.0
1960      1565.0
1966      1559.0
...          ...
1942       363.0
1941       229.0
1936       227.0
1935       226.0
1937       203.0
1933       192.0
1940       169.0
1939       154.0
1930       138.0
1934       126.0
1928       124.0
1917       124.0
1929       119.0
1916       108.0
1931        94.0
1922        80.0
1923        77.0
1932        75.0
1921        68.0
1918        65.0
1927        54.0
1913        45.0
1915        40.0
1925        39.0
1926        30.0
1920        24.0
1924        18.0
1912         5.0
1919         5.0
1908         1.0

[98 rows x 1 columns]

In [17]:
data['taoshenglv'] = (data.Aboard - data.Fatalities)/data.Aboard

In [18]:
data

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary,taoshenglv
0,1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly...",0.500000
1,1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,0.000000
2,1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...,0.000000
3,1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...,0.300000
4,1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...,0.000000
5,1915,01:00,"Tienen, Belgium",Military - German Navy,NaN,NaN,Zeppelin L-8 (airship),NaN,NaN,41.0,21.0,0.0,Crashed into trees while attempting to land af...,0.487805
6,1915,15:20,"Off Cuxhaven, Germany",Military - German Navy,NaN,NaN,Zeppelin L-10 (airship),NaN,NaN,19.0,19.0,0.0,"Exploded and burned near Neuwerk Island, when...",0.000000
7,1916,NaN,"Near Jambol, Bulgeria",Military - German Army,NaN,NaN,Schutte-Lanz S-L-10 (airship),NaN,NaN,20.0,20.0,0.0,"Crashed near the Black Sea, cause unknown.",0.000000
8,1916,01:00,"Billericay, England",Military - German Navy,NaN,NaN,Zeppelin L-32 (airship),NaN,NaN,22.0,22.0,0.0,Shot down by British aircraft crashing in flames.,0.000000
9,1916,23:45,"Potters Bar, England",Military - German Navy,NaN,NaN,Zeppelin L-31 (airship),NaN,NaN,19.0,19.0,0.0,Shot down in flames by the British 39th Home D...,0.000000
10,1916,NaN,"Mainz, Germany",Military - German Army,NaN,NaN,Super Zeppelin (airship),NaN,NaN,28.0,27.0,0.0,Crashed in a storm.,0.035714
11,1916,23:45,"Off West Hartlepool, England",Military - German Navy,NaN,NaN,Zeppelin L-34 (airship),NaN,NaN,20.0,20.0,0.0,Shot down by British anti-aircraft fire and ai...,0.000000
12,1917,NaN,"Near Gent, Belgium",Military - German Army,NaN,NaN,Airship,NaN,NaN,20.0,20.0,0.0,Caught fire and crashed.,0.000000
13,1917,NaN,Off Northern Germany,Military - German Navy,NaN,NaN,Schutte-Lanz S-L-9 (airship),NaN,NaN,23.0,23.0,0.0,Struck by lightning and crashed into the Balti...,0.000000
14,1917,05:15,"Near Texel Island, North Sea",Military - German Navy,NaN,NaN,Zeppelin L-22 (airship),NaN,NaN,21.0,21.0,0.0,"Crashed into the sea from an altitude of 3,000...",0.000000
15,1917,08:45,"Off Vlieland Island, North Sea",Military - German Navy,NaN,NaN,Zeppelin L-43 (airship),NaN,NaN,24.0,24.0,0.0,Shot down by British aircraft.,0.000000
16,1917,07:00,Off western Denmark,Military - German Navy,NaN,NaN,Zeppelin L-23 (airship),NaN,NaN,18.0,18.0,0.0,Shot down by British aircraft.,0.000000
17,1917,07:45,"Near Luneville, France",Military - German Navy,NaN,NaN,Zeppelin L-44 (airship),NaN,NaN,18.0,18.0,0.0,Shot down by French anti-aircraft fire.,0.000000
18,1918,21:30,Over the Mediterranean,Military - German Navy,NaN,NaN,Zeppelin L-59 (airship),NaN,NaN,23.0,23.0,0.0,Exploded and crashed into the sea off the sout...,0.000000
19,1918,NaN,"Off Helgoland Island, Germany",Military - German Navy,NaN,NaN,Zeppelin L-70 (airship),NaN,NaN,22.0,22.0,0.0,Shot down by British aircraft crashing from a ...,0.000000
20,1918,10:00,"Ameland Island, North Sea",Military - German Navy,NaN,NaN,Zeppelin L-53 (airship),NaN,NaN,19.0,19.0,0.0,Shot down by british aircraft.,0.000000
21,1918,NaN,"Elizabeth, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,97,NaN,1.0,1.0,0.0,NaN,0.000000
22,1919,NaN,"Cleveland, Ohio",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,61,NaN,1.0,1.0,0.0,Caught fire in midair. The pilot leaped from t...,0.000000
23,1919,NaN,"Dix Run, Pennsylvania",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,82,NaN,1.0,1.0,0.0,NaN,0.000000
24,1919,NaN,"Newcastle, England",Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,NaN,NaN,1.0,1.0,0.0,NaN,0.000000
25,1919,NaN,"Cantonsville, Maryland",US Aerial Mail Service,NaN,NaN,Curtiss R-4LM,32,NaN,1.0,1.0,0.0,NaN,0.000000
26,1919,NaN,English Channel,Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,G-EAHG,NaN,NaN,NaN,NaN,NaN,NaN
27,1919,NaN,"Long Valley, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH.4,77,NaN,1.0,1.0,0.0,NaN,0.000000
28,1920,NaN,"New Paris, Indiana",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,65,NaN,1.0,1.0,0.0,NaN,0.000000
29,1920,NaN,"Newark, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,72,NaN,1.0,1.0,0.0,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5238,2008,11:35,"Fallujah, Iraq",Falcon Aviation Group,NaN,al-Asad air base - Baghdad,Antonov An-12,S9-SAO,346908,7.0,7.0,0.0,"The cargo plane, chartered by FedEx, crashed w...",0.000000
5239,2008,10:32,"Thormanby Island, British Columbia, Canada",PacifiCoastal Airlines,NaN,Vancouver - Powell River - Toba Inlet,Grumman G-21A Goose,C-FPCK,1187,8.0,7.0,0.0,The charter aircraft crashed into a steep hill...,0.125000
5240,2008,17:00,"Off Perpignan, France",XL Airways leased from Air New Zealand,NaN,Training,Airbus A320-232,D-AXLA,2500,7.0,7.0,0.0,The Airbus A320 was leased by XL Airways of Ge...,0.000000
5241,2008,12:13,"San Juan, Puerto Rico",Webstas Aviation Services Inc.,NaN,"Tortola Virgin Islands - San Juan, PR",Rockwell International 690B,N318WA,11444,3.0,3.0,0.0,The plane struck the side of El Yunque mountai...,0.000000
5242,2008,06:25,"Off Sabine Pass, Texas",Rotorcraft Leasing Co,NaN,Sabine Pass - Oil Platform,Bell 206-L4 Jet Ranger III,N180AL,52104,3.0,3.0,0.0,The helicopter ferrying workers to an off shor...,0.000000
5243,2008,16:40,Off Turks and Caicos Islands,Alantis Aviation,NaN,"Santiago, Dominican Republi- Providenciales",Britten Norman BN-2A Trislander Mk3,N650LP,1029,12.0,12.0,0.0,The charter flight disappeared from radar 35 m...,0.000000
5244,2009,15:30,Near Houma Louisiana,Petroleum Helicopters Inc,NaN,Bayou Penchant - Off shore oil fields,Sikorsky S-76C,N748P,760629,9.0,8.0,0.0,A helicopter bound for offshore oil fields wen...,0.111111
5245,2009,15:06,"New York, New York",US Airways,1549,"New York, NY- Charlotte, NC",Airbus A320-214,N106US,1044,155.0,0.0,0.0,The plane was taking off from La Guardia Airpo...,1.000000
5246,2009,14:00,"Manacapuru, Brazil",Aerotaxi Manaus,NaN,Coari - Manus,Bandeirante EMB-110P1,PT-SEA,110352,28.0,24.0,0.0,The plane was being used as an air taxi to fer...,0.142857
5247,2009,06:30,"Trigoria, Italy",Air One Executive,NaN,Rome - Bologna,Cessna 650 Citation III,I-FEEV,650-0105,2.0,2.0,0.0,"The plane, heading to Bologna to pick up a med...",0.000000
5248,2009,22:17,"Clarence Center, New York",Continental Connection/Colgan Air,3407,"Newark, N.J. - Buffalo, NY",Bombardier DHC-8-402 Q400,N200WQ,4200,49.0,49.0,1.0,The commuter plane crashed while attemptiong t...,0.000000
5249,2009,16:05,"Chanco, Chile",Flight Service,NaN,NaN,Bell UH-1H,NaN,NaN,13.0,13.0,0.0,The helicopter was carrying firemen to a nearb...,0.000000
5250,2009,04:10,"Luxor, Egypt",Aerolift,NaN,"Entebbe, Uganda - Luxor, Egypt - Niklaev, Ukraine",Antonov 12V,S9-SVN,6344310,5.0,5.0,0.0,"While attemping to take off from Luxor, the ca...",0.000000
5251,2009,10:31,"Amsterdam, Netherlands",Turkish Airlines,1951,"Istanbul, Turkey - Amsterdam, Netherlands",Boeing 737-8F2,TC-JGE,29789/1065,134.0,9.0,0.0,The plane was on final approach to Runway 18R ...,0.932836
5252,2009,05:40,"Lake Victoria, Uganda",Aerolift,NaN,"Entebbe, Uganda - Mogadishu, Somalia",Ilyushin Il-76T,S9-SAB,073410301,11.0,11.0,0.0,The cargo plane carrying and water purificatio...,0.000000
5253,2009,09:48,"Off St. Johns, Newfoundland",Cougar Helicopters,NaN,St. Johns - Hibernia platform,Sikorsky S-92A,C-GZCH,920048,18.0,17.0,0.0,The pilot reported a technical malfunction and...,0.055556
5254,2009,14:28,"Butte, Montana",Eagle Cap Leasing,NaN,"Oroville, CA - Butte, MT",Pilatus PC-12/45,N128CM,403,14.0,14.0,0.0,The plane crashed 500 feet short of the runway...,0.000000
5255,2009,06:48,"Tokyo, Japan",FedEx,80,"Guangzhou, China - Tokyo, Japan",McDonnell Douglas MD-11,N526FE,48600/560,2.0,2.0,0.0,The cargo plane crashed and burst into flame a...,0.000000
5256,2009,14:00,"Off Crimond, Scotland",Bond Offshore Helicopters,NaN,Miller field - Aberdeen,Eurocopter AS 332L2 Super Puma 2,NaN,NaN,16.0,16.0,0.0,The helicopter crashed 35 miles East of Crimon...,0.000000
5257,2009,12:30,"Bandung, Indonesia",Military - Indonesian Air Force,NaN,Militiary training,Fokker F-27 Friendship 400M,A-2703,10538,24.0,24.0,0.0,While returning from a military training exerc...,0.000000
5258,2009,07:00,"Near Wamena, Indonesia",Aviastar Mandiri,NaN,Jayapura - Wamena,British Aerospace BAe-146-300,PK-BRD,E3189,6.0,6.0,0.0,The cargo plane crashed into Gunung Pike mount...,0.000000
5259,2009,10:30,"Mount Gergaji, Indonesia",Mimika Air,514,Ilaga - Mulia,Pilatus PC-6,PK-LTJ,959,11.0,11.0,0.0,The passenger plane crashed in poor weather in...,0.000000
5260,2009,15:32,"Canaima National Park, Venezuela",Aerotuy airline,NaN,Canaima - Porlamar,Cessna 208B Grand Caravan,YV-1181,208B-0695,11.0,1.0,0.0,"The plane, carrying 9 tourists, crashed 5 mile...",0.909091
5261,2009,06:00,"Massamba, DemocratiRepubliof Congo",Bako Air,NaN,"Bangui, CAR- Brazzaville, Congo - Harare, Zimb...",Boeing B-737-200,TL-ADM,22264/753,7.0,7.0,0.0,Crashed while en route on a ferrying flight. T...,0.000000
5262,2009,12:00,"Near El Alto de Rubio, Venezuela",Military - Venezuelan Army,NaN,Patrol,Mi-35,EV08114,NaN,18.0,18.0,0.0,The helicopter was patrolling along the Venezu...,0.000000
5263,2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras...",0.125000
5264,2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...,0.000000
5265,2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...,0.000000
5266,2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...,0.000000
5267,2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...,0.000000

In [19]:
data = data[['Date', 'Location', 'Type', 'Aboard', 'Fatalities', 'taoshenglv']]

In [20]:
data.describe()

            Aboard   Fatalities   taoshenglv
count  5246.000000  5256.000000  5244.000000
mean     27.554518    20.068303     0.165068
std      43.076711    33.199952     0.298771
min       0.000000     0.000000     0.000000
25%       5.000000     3.000000     0.000000
50%      13.000000     9.000000     0.000000
75%      30.000000    23.000000     0.200000
max     644.000000   583.000000     1.000000

In [22]:
data[data.Aboard > 600]

,Date,Location,Type,Aboard,Fatalities,taoshenglv
2963,1977,"Tenerife, Canary Islands",Boeing B-747-121 / Boeing B-747-206B,644.0,583.0,0.09472